on: [push]

jobs:
  ENV:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - run: |
            sudo install nmap -y
      - run: |
            nmap -p8084 –script http-methods –script-args httpmethods.test-all=true localhost
      - run: |
            nmap -p8084 –script http-enum -sV localhost
      - run: |
            nmap -p8084 –script http-brute localhost
